<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Express App</title>
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/public/js/script.js"></script>
  </body>
</html>